<div id="divWeatherMain" *ngIf="!weatherData.isDay">
    <div class="weatherWidgetRow">
        <i class="fas fa-3x fa-moon moon"></i>
    </div>
    <div class="weatherWidgetRow cloudDiv">
        <i class="fas fa-cloud fa-3x cloud"></i>
    </div>
    <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 10px;margin-bottom: 10px;">{{weatherData.temp_celcius}}°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">{{weatherData.temp_min}}° / {{weatherData.temp_max}}°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Feels Like: {{weatherData.temp_feels_like}}°</div>
    <div class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;">{{weatherData.name}}</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Humidity: {{weatherData.main.humidity}}%</div>

</div>

<div id="divWeatherMainDay" *ngIf="weatherData.isDay">
    <div class="weatherWidgetRow">
        <i class="fas fa-3x fa-sun sun"></i>
    </div>
    <div class="weatherWidgetRow cloudDiv">
        <i class="fas fa-cloud fa-3x cloud"></i>
    </div>
    <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 10px;margin-bottom:10px">{{weatherData.temp_celcius}}°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">{{weatherData.temp_min}}° / {{weatherData.temp_max}}°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Feels Like: {{weatherData.temp_feels_like}}°</div>
    <div class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;">{{weatherData.name}}</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Humidity: {{weatherData.main.humidity}}%</div>
</div>