#divWeatherMain {
    display: block;
    border-radius: 10px;
    width: 200px;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(8, 7, 42, 1) 75%, rgb(8, 10, 63) 100%);
    color: white;
    ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#divWeatherMainDay {
    display: block;
    border-radius: 10px;
    width: 200px;
    background: black;
    background: linear-gradient(180deg, #1e88e5 0%, #4fc3f7 75%, #e1f5fe 100%);
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
}

.weatherWidgetRow {
    display: block;
    margin: 0 auto;
    width: fit-content;
}

.sun {
    margin-top: 10px;
    color: yellow;
    filter: drop-shadow(1px 1px 10px yellow);
}

.moon {
    margin-top: 10px;
    color: white;
    filter: drop-shadow(1px 1px 10px white);
}

.cloudDiv {
    margin-top: -40px;
}

@media(max-width:900px) {

    #divWeatherMain {
        margin: 20px;
    }

    #divWeatherMainDay {
        margin: 20px;
    }

}