.add-user-btn {
    position: absolute;
    right: 56px;
    bottom: 56px;
    background-color: #2c8cda !important;
}

mat-card {
    padding-left: 0;
    padding-right: 0;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        &:last-child {
            border-bottom: 0;
        }
        &:first-child {
            cursor: none;
            &:hover {
                background-color: unset;
            }
        }
        cursor: pointer;
        &:hover {
            background-color: rgba(0, 0, 0, 0.04);
        }
        td {
            height: 60px;
            &:first-child {
                padding-left: 16px;
            }
        }
    }
    th {
        color: rgba(0, 0, 0, 0.4);
        text-align: start;
        &:first-child {
            padding-left: 16px;
        }
    }
}