<mat-card>
    <table class="user-table">
        <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>City</th>
        </tr>
        <tr *ngFor="let user of AllUsers" [routerLink]="['/user/' + user.costumIdName]">
            <td>{{user.firstName}} {{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.city}}</td>

        </tr>
    </table>
</mat-card>


<button id="btn" (click)="openDialog()" class="add-user-btn" mat-fab color="primary" matTooltip="add new user">
    <mat-icon>add</mat-icon>
  </button>